<div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Login</h3>
      <hr />
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="email"
            [ngClass]="{'form-control': true, 'is-invalid': isSubmitted && (loginForm.controls['username'].hasError('required') || loginForm.controls['username'].hasError('email'))}"
            id="username" placeholder="Enter your username" formControlName="username" required #username>
          <div id="username-error-msg" class="invalid-feedback mt-2" [ngClass]="{ 'is-invalid': isSubmitted && loginForm.controls['username'].errors }"
            *ngIf="isSubmitted && loginForm.controls['username'].hasError('required')">
            Please enter username</div>
          <div id="username-error-invalid" class="invalid-feedback mt-2"
            *ngIf="isSubmitted && loginForm.controls['username'].hasError('email')">
            Please enter correct username</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password"
            [ngClass]="{'form-control': true, 'is-invalid': isSubmitted && (loginForm.controls['password'].hasError('required') || (loginForm.controls['password'].hasError('minlength') || loginForm.controls['password'].hasError('maxlength')))}"
            id="password" placeholder="Enter your password" formControlName="password" required>
          <div id="password-error-msg" class="invalid-feedback mt-2"
            *ngIf="isSubmitted && loginForm.controls['password'].hasError('required')">
            Please enter password</div>
          <div id="password-error-minlength" class="invalid-feedback mt-2"
            *ngIf="isSubmitted && (loginForm.controls['password'].hasError('minlength'))">
            Please enter 6 characters Passowrd
          </div>
          <div id="password-error-maxlength" class="invalid-feedback mt-2"
            *ngIf="isSubmitted && loginForm.controls['password'].hasError('maxlength')">
            Should not have more than 20 characters
          </div>
        </div>
        <div class="mt-4 d-grid">
          <button class="btn btn-primary btn-block" id="login">Login</button>
        </div>
      </form>
    </div>
  </div>
  